<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.djcps.boot.modules.user.mapper.InnerUserMapper">
    <!--目的：为Dao接口方法提供SQL语句-->

    <!--映射实体对象-->
    <resultMap id="BaseResultMap" type="com.djcps.boot.modules.user.model.InnerUserPO">
        <id property="id" column="fuserid" jdbcType="VARCHAR" />
        <result property="userName" column="faccount" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="baseSearchSql">
        fuserid,
        faccount
    </sql>

    <select id="findAll" resultMap="BaseResultMap">
        SELECT <include refid="baseSearchSql" />
        FROM t_account_parent limit 0,15
    </select>

</mapper>